.photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 3%;
  gap: 10px;
  align-content: center;
  width: 95%;
  justify-items: center;
  margin-top: 75px;
  img{border-radius: 10px;}
}